@model CurrencyViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Date: @Model.Date.Date</h1>
    <h2>Hour: @Model.Timestamp.Hour</h2>

    <input id="input1" type="number" step="0.01" value="1" onchange="input1_changed(@Model.Valute.Value)" />
    <span>@Model.Valute.CharCode</span>
    =
    <input id="input2" type="text" value="@Model.Valute.Value"  />
    <span>Rub</span>
</div>
